# Ambiente
NODE_ENV=
# NODE_ENV_HML=production
 
# Database
DB_TYPE=
DB_HOST=
DB_USER=
DB_PASSWORD=
DB_DATABASE=
DB_PORT=
 
# Configurações
PORT=
INSTANCES=
URL=
 
# Usuário Init System
# ADMIN_USER=
# ADMIN_PASSWORD=
 
# Configuração Token
# SECRET_TOKEN=
# EXPIRES_IN_TOKEN=
# SECRET_REFRESH_TOKEN=
# EXPIRES_IN_REFRESH_TOKEN=
# Login Azure AD
# AZURE_AD_REDIRECT_URI=
# AZURE_AD_REDIRECT_TO_CLIENT=
# AZURE_AD_REDIRECT_TO_CLIENT_HML_BACK=
# AZURE_AD_REDIRECT_TO_CLIENT_HML_FRONT=
 
# Serviço de Email
API_KEY_MAILERSEND=
# System Crypto
KEY=
IV=
